*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(230, 150, 53);
    padding: 10px 0;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(195, 112, 10);
    z-index: 99;
    margin-left: 10%;
}
.nav_content{
    max-width: var(--max-width);
    padding: 1.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav .logo a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fffdf4ec;
    text-decoration: 0.3s;
}
nav .logo a:hover{
    color: #140101;
}


ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    transition: left 0.3;
    top: 85px;
}
ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s;
}

ul li a:hover{
    color: black;
}
.section{
    background-color: black;
}
.section_container{
    min-height: 30vh;
    min-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 4rem;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle {
    letter-spacing: 1px;
    color: rgb(69, 44, 4);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.title {font-size: 2.5rem;
    font-weight: 300;
    line-height: 3rem;
    color: black;
    margin-bottom: 1rem;
}
.title span{
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
    line-height: 1.5rem;
    color: black;
    margin-bottom: 2rem;
}
.action_btns {
    display: flex;
    gap: 1rem;
}
.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.portfolio{
    background-color: rgba(0, 0, 255, 0.219);
    color: aliceblue;
}
.portfolio:hover{
    background-color: rgba(0, 0, 255, 0.219);
}
.images{
    display: grid;
}
.images img{
    width: 400px;
    height: 400px;
border-radius: 50%;
object-fit: cover;
display: block;
margin: auto;
margin-top: 60px;
margin-left: 100px;
}
.footer-container{
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    padding: 10px;
    margin: auto;
    background-color: #140101;
    color: white;
    text-align: center;
}


